@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
.header_p,.ul_header,.contact-info{
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.contact-info{
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.adres{
  font-size: 18px;
}
.banner{
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 5px;
}
.To_you{
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 3px;
}
.One_must{
  text-align: end;
  letter-spacing: 5px;
  word-spacing: 5px;
}
.h3_banner{
  white-space: nowrap;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  word-spacing: 15px;
  text-transform: uppercase;
}
.banner_buton{
  white-space: nowrap;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.lots{
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.Look_more{
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.card_top, .card2_top{
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card1_bottom, .card2_bottom, .card3_bottom{
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.information_title{
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.detailed_information, .detailed_information2{
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-info_footer{
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.adres_footer{
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.Main, .footer_menu{
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_menu{
  text-decoration: underline;
  text-underline-offset: 3px;
}
