body {
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
.header {
  color: #000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  display: grid;
  grid-template-columns: 40% 32% 28%;
  align-items: center;
  margin-top: 92px;
  padding-left: 60px;
}
.menu_header {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  gap: 33px;
}
.without_marker {
  list-style-type: none;
}
.menu_markings_list {
  list-style: circle;
  white-space: nowrap;
  border-bottom: 2px solid rgb(1, 1, 1);
}
.logo {
  width: 135px;
  height: 105px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 6px;
}
.contact-info_heder {
  font-family: "Raleway", "Arial", sans-serif;
  text-decoration: none;
  white-space: nowrap;
  grid-column-start: 3;
  grid-column-end: 4;
}
.contact-info {
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
  font-style: normal;
  text-underline-offset: 3px;
  line-height: 26px;
}
.addres {
  font-style: normal;
}
.banner {
  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 188px;
  line-height: 62px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 92px;
  background: linear-gradient(rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.479)),
    url(/images/cover.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.It {
  display: flex;
  justify-content: left;
  letter-spacing: 30px;
  word-spacing: -21px;
  padding-left: 47px;
  margin-bottom: 63px;
}
.To_you {
  display: flex;
  justify-content: center;
  margin-right: 26px;
  letter-spacing: 33px;
  word-spacing: -31px;
  margin-bottom: 58px;
}
.One_must {
  display: flex;
  justify-content: end;
  letter-spacing: 30px;
  word-spacing: -22px;
  margin-right: 20px;
}
.in_addition {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  padding-left: 48px;
  padding-bottom: 50px;
}
.description_banner {
  white-space: nowrap;
  color: #FFF;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 2px;
  word-spacing: 17px;
  text-transform: uppercase;
}
.banner_buton {
  white-space: nowrap;
  color: #FFF;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 21px;
  word-spacing: 5px;
  gap: 8px;
  width: 250px;
  height: 50px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background-color: transparent;
  margin-right: 20px;
}
.lots {
  color: #000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 70px;
  margin-top: 175px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  list-style-type: none;
  height: 100%
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.card {
  min-height: 554px;
  width: 329px;
  flex-grow: 1;
  background-size: cover;
  background-position: 100%;
}
.card1 {
  background: linear-gradient(rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.479)),
    url(/images/card-lot-01.jpg);
}
.card2 {
  background: linear-gradient(rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.479)),
    url(/images/card-lot-02.jpg);
}
.card3 {
  background: linear-gradient(rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.479)),
    url(/images/card-lot-03.jpg);
}
.card_titel {
  color: #FFF;
  font-size: 22px;
  font-weight: 490;
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 48px;
  padding-left: 41px;
  padding-right: 21px;
}
.card1_bottom, .card2_bottom, .card3_bottom {
  color: #FFF;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 24px;
  padding-left: 39px;
  padding-right: 39px;
}
.card1_bottom {
  padding-top: 240px;
  padding-bottom: 45px;
}
.card2_bottom {
  margin-top: -3px;
  padding-bottom: 46px;
}
.card3_bottom {
  padding-top: 92px;
  padding-right: 38px;
  padding-bottom: 50px;
}
.Look_more {
  color: #000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 6px;
  display: flex;
  justify-content: start;
  margin-left: 73px;
  margin-top: 28px;
}
.information {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 174px;
  margin-right: 10px;
}
.logo2 {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 240px;
  height: 240px;
  border-radius: 1000px;
  text-transform: uppercase;
  background-color: #000;
  padding-left: 42px;
  padding-top: 62px;
  margin-left: 80px;
}
.logo2_image {
  width: 148px;
  height: 114px;
}
.information_title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 2px;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 100px;
  padding-left: 24px;
  margin-bottom: 98px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-left: 20px;
  padding-right: 15px;
}
.detailed_information {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  grid-column-start: 2;
  grid-column-end: 3;
}
footer {
  display: grid;
  grid-template-columns: 30% 46% 24%;
  margin-top: 177px;
  margin-right: 60px;
  padding-bottom: 100px;
}
.contact-info_footer {
  color: #000;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 23px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 55px;
}
.menu_footer {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.navigation {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  grid-column-start: 2;
  grid-column-end: 3;
}
.icone {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding-left: 10px;
  list-style-type: none;
}
